<mat-card>
  <mat-card-title>
    <h2>Mes Trajets</h2>
  </mat-card-title>

  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="openDialog()"> + </button>
  </mat-card-actions>

  <mat-card-content class="">
    <ul>
      <li *ngFor="let arrets of line" class="arrets">
        <table mat-table >
            <ng-container matColumnDef="arrets" *ngFor="let arret of arrets.liste">
              <td mat-cell> <span class="badge">{{arret.lineName}}</span> {{arret.name}}
                <br/> Temps Réel
              </td>
            </ng-container>
        </table>
      </li>
    </ul>
  </mat-card-content>

</mat-card>