<mat-card>
  <mat-card-title>
    <h2>Mes Trajets</h2>
  </mat-card-title>

  <mat-card-actions>
    <button mat-flat-button color="primary"> + </button>
  </mat-card-actions>

  <mat-card-content class="">
    <ul>
      <li *ngFor="let arrets of line">
        <span *ngFor="let arret of arrets.liste">
          <mat-car-title>
            <span class="badge">{{arret.lineName}}</span> {{arret.name}}
          </mat-car-title>
          <mat-card-subtitle>
            Temps réel
          </mat-card-subtitle>
        </span>
      </li>
    </ul>
  </mat-card-content>

</mat-card>