<h1 mat-dialog-title>Ajouter un bus</h1>
<div mat-dialog-content>
  Ligne : <mat-select placeholder="Ligne" [(value)]="line">
    <mat-option *ngFor='let arret of data' value='{{arret.lineName}}' cdkFocusInitial>{{arret.lineName}}</mat-option>
  </mat-select>
  Arret : <mat-select placeholder="Arret" [(value)]='stop'>
      <mat-option *ngFor='let arret of data' value='{{arret.name}}'>{{arret.name}}</mat-option>
    </mat-select>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]='{lineName:line, name:stop}'>Ok</button>
</div>
