<div class="container">
<h1 mat-dialog-title>Ajouter un bus</h1>
<div mat-dialog-content>
  Ligne : <mat-select placeholder="Ligne" [(value)]="line" (selectionChange)="lineChange()">
    <mat-option *ngFor='let line of lineNumber' value='{{line}}' cdkFocusInitial>{{line}}</mat-option>
  </mat-select>
  Arret : <mat-select placeholder="Arret" [(value)]='stop'>
      <mat-option *ngFor='let arret of allStopName' value='{{arret}}'>{{arret}}</mat-option>
    </mat-select>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]='{lineName:line, name:stop}'>Ok</button>
</div>
</div>