<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="login.isLoged()">
  <div style="text-align:center">
    <h1>
      Welcome to {{ this.login.getUser().pseudo }}!
    </h1>
  </div>
  <button mat-stroked-button (click)="disconnect()">Deconnection</button>
  <app-arret></app-arret>
  <!--<p>
    <ngb-alert *ngIf="!closed" (close)="closed=true">
      <strong>Warning!</strong> Sample alert.
    </ngb-alert>
  </p>-->

  <router-outlet></router-outlet>
</div>

<div *ngIf="!login.isLoged()">
  <app-login></app-login>
</div>